@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header, .welcome {
    background-color:#1F2937;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 8px 240px;
}

.header img {
    width: 80px;
}

.header-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

a, .welcome .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.welcome {
    padding: 64px 240px;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.intro, .information, .quotes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

.main-sign-up {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 12px 24px;
    width: fit-content;
    border: none;
    outline:none;
    font-weight: 600;
}

.welcome img {
    max-width: 500px;
}

h2 {
    margin: 36px;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0px 256px;
}

.info-images img {
    width: 175px;
    border-radius: 25px;
    border: 3px solid #3882F6;
}

.info-images {
    margin-bottom: 72px;
    color: #1F2937;
}